/* animation */
.animation-container {
    margin-top: 10px;
    width: 100%;
    height: 5rem;
  }
  
  .animated-gif {
    position: absolute;
    animation: moving 8s linear infinite
  }
  
  @keyframes moving {
    0%,
    100% {
      left: 0rem;
      transform: scaleX(1);
    }
  
    49.9% {
      left: 8rem;
      transform: scaleX(1);
    }
  
    50% {
      left: 8rem;
      transform: scaleX(-1);
    }
  
    99.9% {
      left: 0rem;
      transform: scaleX(-1);
    }
  }
  